In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings("ignore")

In [12]:
forest=pd.read_csv('A:/Data Science/assignments/Neural network/forestfires.csv')

In [19]:
forest.head()

,month,day,FFMC,DMC,DC,ISI,temp,RH,wind,rain,...,monthfeb,monthjan,monthjul,monthjun,monthmar,monthmay,monthnov,monthoct,monthsep,size_category
0,mar,fri,86.2,26.2,94.3,5.1,8.2,51,6.7,0.0,...,0,0,0,0,1,0,0,0,0,small
1,oct,tue,90.6,35.4,669.1,6.7,18.0,33,0.9,0.0,...,0,0,0,0,0,0,0,1,0,small
2,oct,sat,90.6,43.7,686.9,6.7,14.6,33,1.3,0.0,...,0,0,0,0,0,0,0,1,0,small
3,mar,fri,91.7,33.3,77.5,9.0,8.3,97,4.0,0.2,...,0,0,0,0,1,0,0,0,0,small
4,mar,sun,89.3,51.3,102.2,9.6,11.4,99,1.8,0.0,...,0,0,0,0,1,0,0,0,0,small

In [22]:
forest.size_category.value_counts()

0    378
1    139
Name: size_category, dtype: int64

In [20]:
forest['size_category']=forest.size_category.apply(lambda x:0 if x=='small'else 1)

In [36]:
forest.head()

,FFMC,DMC,DC,ISI,temp,RH,wind,rain,area,dayfri,...,monthfeb,monthjan,monthjul,monthjun,monthmar,monthmay,monthnov,monthoct,monthsep,size_category
0,86.2,26.2,94.3,5.1,8.2,51,6.7,0.0,0.0,1,...,0,0,0,0,1,0,0,0,0,0
1,90.6,35.4,669.1,6.7,18.0,33,0.9,0.0,0.0,0,...,0,0,0,0,0,0,0,1,0,0
2,90.6,43.7,686.9,6.7,14.6,33,1.3,0.0,0.0,0,...,0,0,0,0,0,0,0,1,0,0
3,91.7,33.3,77.5,9.0,8.3,97,4.0,0.2,0.0,1,...,0,0,0,0,1,0,0,0,0,0
4,89.3,51.3,102.2,9.6,11.4,99,1.8,0.0,0.0,0,...,0,0,0,0,1,0,0,0,0,0

In [23]:
from sklearn.preprocessing import LabelEncoder

In [31]:
lab=LabelEncoder()
month=lab.fit_transform(forest.month)
day=lab.fit_transform(forest.day)
month=pd.Series(month)
day=pd.Series(day)

In [35]:
forest.drop('day','month',inplace=True,axis=1)

In [53]:
type(forest)

pandas.core.frame.DataFrame

In [45]:
frames=[month,day,forest]
forest=pd.concat(frames,axis=1)

In [50]:
forest.rename(columns={0:'month', 1:'day'},inplace=True)

In [51]:
forest.head()

,month,day,FFMC,DMC,DC,ISI,temp,RH,wind,rain,...,monthfeb,monthjan,monthjul,monthjun,monthmar,monthmay,monthnov,monthoct,monthsep,size_category
0,7,0,86.2,26.2,94.3,5.1,8.2,51,6.7,0.0,...,0,0,0,0,1,0,0,0,0,0
1,10,5,90.6,35.4,669.1,6.7,18.0,33,0.9,0.0,...,0,0,0,0,0,0,0,1,0,0
2,10,2,90.6,43.7,686.9,6.7,14.6,33,1.3,0.0,...,0,0,0,0,0,0,0,1,0,0
3,7,0,91.7,33.3,77.5,9.0,8.3,97,4.0,0.2,...,0,0,0,0,1,0,0,0,0,0
4,7,3,89.3,51.3,102.2,9.6,11.4,99,1.8,0.0,...,0,0,0,0,1,0,0,0,0,0

In [63]:
forest.dtypes

month             object
day               object
FFMC             float64
DMC              float64
DC               float64
ISI              float64
temp             float64
RH                 int64
wind             float64
rain             float64
area             float64
dayfri             int64
daymon             int64
daysat             int64
daysun             int64
daythu             int64
daytue             int64
daywed             int64
monthapr           int64
monthaug           int64
monthdec           int64
monthfeb           int64
monthjan           int64
monthjul           int64
monthjun           int64
monthmar           int64
monthmay           int64
monthnov           int64
monthoct           int64
monthsep           int64
size_category     object
dtype: object

In [62]:
forest.month=forest.month.astype('object')
forest.day=forest.day.astype('object')
forest.size_category=forest.size_category.astype('object')

In [67]:
from keras.models import Sequential
from keras.layers import Dense,Activation,Layer
from sklearn.model_selection import train_test_split

In [69]:
X=forest.iloc[:,0:30]
y=forest.iloc[:,30]

In [71]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=2)

In [89]:
def model(layers):
    mod=Sequential()
    for i in range(1,4):
        if (i==1):
            mod.add(Dense(layers[i],input_dim=layers[0],activation='relu'))
        else:
            mod.add(Dense(layers[i],kernel_initializer='normal',activation='relu'))
    mod.add(Dense(layers[-1],activation='sigmoid'))
    mod.compile(loss='binary_crossentropy',optimizer='rmsprop',metrics=['accuracy'])
    return mod

In [95]:
layers=model([30,20,29,10,1])

In [94]:
X.shape

(517, 30)

In [97]:
layers.fit(X_train,y_train,epochs=50)

Epoch 1/50
413/413 [==============================] - 0s 73us/step - loss: 0.2482 - accuracy: 0.9128
Epoch 2/50
413/413 [==============================] - 0s 75us/step - loss: 0.1673 - accuracy: 0.9370
Epoch 3/50
413/413 [==============================] - 0s 87us/step - loss: 0.2687 - accuracy: 0.8935
Epoch 4/50
413/413 [==============================] - 0s 80us/step - loss: 0.2719 - accuracy: 0.9080
Epoch 5/50
413/413 [==============================] - 0s 92us/step - loss: 0.1364 - accuracy: 0.9516
Epoch 6/50
413/413 [==============================] - 0s 75us/step - loss: 0.2785 - accuracy: 0.8862
Epoch 7/50
413/413 [==============================] - 0s 87us/step - loss: 0.1312 - accuracy: 0.9419
Epoch 8/50
413/413 [==============================] - 0s 73us/step - loss: 0.1971 - accuracy: 0.9298
Epoch 9/50
413/413 [==============================] - 0s 87us/step - loss: 0.2088 - accuracy: 0.9298
Epoch 10/50
413/413 [==============================] - 0s 75us/step - loss: 0.1293 - accuracy: 0.9564
Epoch 11/50
413/413 [==============================] - 0s 75us/step - loss: 0.1659 - accuracy: 0.9419
Epoch 12/50
413/413 [==============================] - 0s 75us/step - loss: 0.1191 - accuracy: 0.9516
Epoch 13/50
413/413 [==============================] - 0s 92us/step - loss: 0.2211 - accuracy: 0.9322
Epoch 14/50
413/413 [==============================] - 0s 90us/step - loss: 0.0999 - accuracy: 0.9613
Epoch 15/50
413/413 [==============================] - 0s 99us/step - loss: 0.1630 - accuracy: 0.9370
Epoch 16/50
413/413 [==============================] - 0s 92us/step - loss: 0.1477 - accuracy: 0.9395
Epoch 17/50
413/413 [==============================] - 0s 90us/step - loss: 0.1189 - accuracy: 0.9613
Epoch 18/50
413/413 [==============================] - 0s 97us/step - loss: 0.1641 - accuracy: 0.9322
Epoch 19/50
413/413 [==============================] - 0s 92us/step - loss: 0.0773 - accuracy: 0.9734
Epoch 20/50
413/413 [==============================] - 0s 111us/step - loss: 0.1232 - accuracy: 0.9540
Epoch 21/50
413/413 [==============================] - 0s 92us/step - loss: 0.2470 - accuracy: 0.9056
Epoch 22/50
413/413 [==============================] - 0s 97us/step - loss: 0.1240 - accuracy: 0.9516
Epoch 23/50
413/413 [==============================] - 0s 97us/step - loss: 0.0967 - accuracy: 0.9685
Epoch 24/50
413/413 [==============================] - 0s 102us/step - loss: 0.1490 - accuracy: 0.9370
Epoch 25/50
413/413 [==============================] - 0s 97us/step - loss: 0.1250 - accuracy: 0.9564
Epoch 26/50
413/413 [==============================] - 0s 77us/step - loss: 0.1058 - accuracy: 0.9540
Epoch 27/50
413/413 [==============================] - 0s 70us/step - loss: 0.1621 - accuracy: 0.9395
Epoch 28/50
413/413 [==============================] - 0s 85us/step - loss: 0.0655 - accuracy: 0.9734
Epoch 29/50
413/413 [==============================] - 0s 85us/step - loss: 0.1343 - accuracy: 0.9637
Epoch 30/50
413/413 [==============================] - 0s 85us/step - loss: 0.1368 - accuracy: 0.9395
Epoch 31/50
413/413 [==============================] - 0s 106us/step - loss: 0.0667 - accuracy: 0.9734
Epoch 32/50
413/413 [==============================] - 0s 85us/step - loss: 0.1157 - accuracy: 0.9516
Epoch 33/50
413/413 [==============================] - 0s 92us/step - loss: 0.0524 - accuracy: 0.9758
Epoch 34/50
413/413 [==============================] - 0s 97us/step - loss: 0.0906 - accuracy: 0.9661
Epoch 35/50
413/413 [==============================] - 0s 99us/step - loss: 0.1443 - accuracy: 0.9467
Epoch 36/50
413/413 [==============================] - 0s 90us/step - loss: 0.0851 - accuracy: 0.9734
Epoch 37/50
413/413 [==============================] - 0s 77us/step - loss: 0.1373 - accuracy: 0.9564
Epoch 38/50
413/413 [==============================] - 0s 90us/step - loss: 0.0449 - accuracy: 0.9831
Epoch 39/50
413/413 [==============================] - 0s 99us/step - loss: 0.0971 - accuracy: 0.9637
Epoch 40/50
413/413 [==============================] - 0s 85us/step - loss: 0.1365 - accuracy: 0.9564
Epoch 41/50
413/413 [==============================] - 0s 75us/step - loss: 0.0799 - accuracy: 0.9758
Epoch 42/50
413/413 [==============================] - 0s 82us/step - loss: 0.0843 - accuracy: 0.9661
Epoch 43/50
413/413 [==============================] - 0s 70us/step - loss: 0.1001 - accuracy: 0.9564
Epoch 44/50
413/413 [==============================] - 0s 63us/step - loss: 0.1382 - accuracy: 0.9467
Epoch 45/50
413/413 [==============================] - 0s 73us/step - loss: 0.0384 - accuracy: 0.9855
Epoch 46/50
413/413 [==============================] - 0s 75us/step - loss: 0.0629 - accuracy: 0.9758
Epoch 47/50
413/413 [==============================] - 0s 80us/step - loss: 0.0852 - accuracy: 0.9661
Epoch 48/50
413/413 [==============================] - 0s 73us/step - loss: 0.0408 - accuracy: 0.9879
Epoch 49/50
413/413 [==============================] - 0s 75us/step - loss: 0.1590 - accuracy: 0.9419
Epoch 50/50
413/413 [==============================] - 0s 75us/step - loss: 0.0356 - accuracy: 0.9855

In [134]:
predict=layers.predict(X_test)

In [102]:
from sklearn.metrics import confusion_matrix

In [135]:
predict_class=pd.Series([i[0] for i in predict])

In [131]:
type(predict)

pandas.core.series.Series

In [137]:
predict_class[[i[0]>0.5 for i in predict]]=1
predict_class[[i[0]<0.5 for i in predict]]=0

In [138]:
predict_class

0      0.0
1      0.0
2      0.0
3      0.0
4      0.0
      ...
99     0.0
100    0.0
101    1.0
102    1.0
103    1.0
Length: 104, dtype: float64

In [141]:
np.mean(y_test.values==predict_class.values)

0.9326923076923077

In [143]:
pd.crosstab(y_test.values,predict_class.values)

col_0  0.0  1.0
row_0
0       74    7
1        0   23

In [ ]:
#Accuracy of this model 93%